@media screen and (max-width:600px) {
    .navbar {
        flex-direction: column;
    }

    .right-nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    header {
        margin: 10px 10px;
    }

    main {
        margin: 10px 10px;
    }

    /*----------------banner-form----------------*/

    .banner {
        /* width: 50%;
        height: 800px; */
        margin: 0 auto;
    }

    .banner-title {
        font-size: 2rem;
    }

    .banner-form {
        flex-direction: column;
    }

    /* <!-- ---------popular-tour---------- --> */

    .popular-tour {
        flex-direction: column;
    }

    .left-tour {
        width: 100%;
    }

    .right-tour {
        width: 100%;
    }

    .right-tour img {
        width: 100%;
    }


}