@media screen and (max-width:600px) {

    .navbar {
        flex-direction: column;
    }

    .right-nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    header {
        margin: 10px 10px;
    }

    main {
        margin: 10px 10px;
    }

    /*----------------banner-form----------------*/

    .banner {
        /* width: 50%;
        height: 800px; */
        margin: 0 auto;
    }

    .banner-title {
        font-size: 2rem;
    }

    .banner-form {
        flex-direction: column;
    }

    /* <!-- ---------popular-tour---------- --> */

    .popular-tour {
        flex-direction: column;
    }

    .left-tour {
        width: 100%;
    }

    .right-tour {
        width: 100%;
    }

    .right-tour img {
        width: 100%;
    }

    /* <!------------Destination-Section --> */
    .destination-image-container {

        grid-template-rows: repeat(7, 1fr);
    }

    .item-1 {
        grid-column: 1/span 12;
    }

    .item-2 {
        grid-column: 1/span 12;
    }

    .item-3 {
        grid-column: 1/span 12;
    }

    .item-4 {
        grid-column: 1/span 12;
    }

    .item-5 {
        grid-column: 1/span 12;
    }

    .item-6 {
        grid-column: 1/span 12;
    }

    .item-7 {
        grid-column: 1/span 12;
    }

    .hand-pick {

        width: 100%;

    }

    .world-class {
        width: 100%;

    }

    .best-price {

        width: 100%;

    }

    .discount-first-content {
        padding: 20px 20px;
        left: 25%;
        top: 15px;
    }

    .discount-second-content {
        padding: 20px 20px;
        right: 25%;
        top: 15px;
    }

    .discount-description {
        overflow: hidden;
    }

    /*  <!-- -------Get-lost------------- --> */

    .get-lost {
        flex-direction: column-reverse;
    }

    .get-lost-left {
        width: 100%;
    }

    .get-lost-right {
        width: 100%;

    }

    .get-lost-right iframe {
        width: 100%;

    }

    /* <!--------- News-letter -----------> */
    .news-letter {
        flex-direction: column;
    }

    .left-news {

        width: 100%;

    }

    .right-news {
        width: 100%;

    }

    .save-70 {
        left: 20%;
    }

}